html,body{height:100%;max-width:100%;margin:0;overflow:hidden;background:rgba(0,10,20,1) url(http://i68.tinypic.com/2i7bc07.jpg) no-repeat;background-size:cover;image-rendering: pixelated; font-family:sans-serif}
#space{width:100%}
#warp{position:absolute;z-index:9;bottom:0;left:0;right:0;margin:0px auto;color:rgba(209, 255, 255,1);border:0px solid;padding:0em;width:10em;text-align:center;font-weight:700;font-size:1.2em;display:inline-block;text-decoration:none;background:rgba(0,0,0,0.8)}

#name {
    position:absolute;
    z-index:9;
    bottom:50%;
    left:0;
    right:0;
    margin:10px auto;
    color:rgba(209, 255, 255,1);
    border:0px solid;
    padding:0em;
    width:10em;
    text-align:center;
    font-weight:700;
    font-size:1.2em;
    text-decoration:none;

}

.parallax { 
    /* The image used */
    background-image: url("https://img.huffingtonpost.com/asset/5b7fdeab1900001d035028dc.jpeg?cache=sixpwrbb1s&ops=1910_1000");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: scroll;
}

a, a:link, a:visited  {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    border-style: solid;
    border-color: white;
    margin-top: 5px;
}